.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}

.pagination-item {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
  color: #636363;
  cursor: pointer;
  padding: 0;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0 4px;
  position: relative;
  overflow: hidden;
}

.pagination-active {
  /* background-color: #008fd5; */
  border: 1px solid #008fd5;
}

.pagination-active a {
  color: #ffffff !important;
  background: linear-gradient(#0B4A98, #48C3FF);

}

.next a {
  margin-left: 10px;
  border: #000000;
  border: 1px solid #e9e9e9;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
}

.prev a {
  margin-right: 10px;
  border: 1px solid #e9e9e9;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
}

.prev a::before {
  content: " ";
  background-image: url("../images/back-arrow.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 8px;
  padding: 7px;
}

.next a::after {
  content: " ";
  background-image: url("../images/next-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 8px;
  padding: 7px;
}

.premium-pagination ul li a {
  color: #313131;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: var(--white);
}

.premium-pag {
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
  color: #636363;
  cursor: pointer;
  border: 1px;
  /* padding: 10px; */
}

.premium-pagination {
  padding: 20px;
}

.premium-pagination a {
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
  color: #636363;
}

.premium-pagination span {
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
  color: #636363;
}

.premium-pagination ul {
  margin-bottom: 0px;
}

.inside-pagination {
  /* display: inline-block; */
}

.wrapper-main {
  display: "grid";
  margin: auto;
}

.inside-pagination a {
  color: #808080;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
  font-size: 13px;
}

.inside-pagination a.active {
  background-color: #008fd5;
  color: white;
  border: 1px solid #008fd5;
}

.inside-pagination a:hover:not(.active) {
  background-color: #ddd;
}

.inside-pagination span {
  color: #808080;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
  font-size: 13px;
}

.inside-pagination span:hover:not(.active) {
  background-color: #ddd;
}

.inside-pagination span.active {
  background-color: #008fd5;
  color: white;
  border: 1px solid #008fd5;
}

/* .pagination-active a {
  color: #ffffff !important;
} */

.pagination-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 15px;
  text-align: center;
  line-height: normal;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 576px) {
  .pagination-item {
    /* padding: 5px 10px;
    margin: 0px 2px; */
  }

  .premium-pagination {
    padding: 12px;
  }

  .prev {
    margin-right: 2px;
    padding: 5px 7px 5px 7px;
  }

  .next {
    margin-left: 2px;
    padding: 5px 7px 5px 7px;
  }

  .pagination-row {
    overflow-x: scroll;
  }

  .pagination-container {
    /* justify-content: unset; */
  }
}